$cWhite: white;
$cGreen: green;
$cBlue: #0039ffc7;
$cRed:#ff1800;
$cBlack: black;
$cDisplayColor: rgba(133, 124, 124, 0.842);
$cRequireRed: #ed4545eb;
$cOptional: rgba(133, 124, 124, 0.842);
$cTableHeader: #1506ecd7;
$cUpdateButton: #00847F;

@mixin header_form() {
	text-align: left;
	color: $cWhite;
	background-color: $cGreen;
	width: 100%;
	height: 70px;
	position: relative;
	padding-top: 10px;
	padding-left: 10px;
}

@mixin button_setting() {
	cursor: pointer;
}

@mixin button_color() {
	background-color: #16b;
	background-image: linear-gradient(#2d8cec, #16b);
	border-color: #16b #0b4075 #0b4075;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	font-size: 14px;
	line-height: 21px;
	padding: 4px 14px;
	border-radius: 0.3em;
	@include button_setting();
}

@mixin update_button() {
	border: 1px solid $cUpdateButton;
	color: $cUpdateButton;
	background-color: $cWhite;
	letter-spacing: 0.5px;
	border-radius: 5px;
	@include button_setting();
}

@mixin require_optional($requireOptional) {
	font-size: 12px;
	color: $cWhite;
	padding: 0px 10px;
	background: $requireOptional;
	border-radius: 5px;
}

@mixin select_format() {
	border: 2px solid $cBlue;
	border-radius: 0.6em;
	width: 17em;
	height: 30px;
}

@mixin input_format() {
	border: 2px solid $cBlue;
	border-radius: 0.6em;
	width: 16em;
	height: 20px;
	padding: 0.3em;
}