@use "common" as cmn;

#head {
	@include cmn.header_form();
}

#container {

	& .content {
		color: cmn.$cBlack;
		font-size: 1.5em;
		font-weight: bold;
	}

	& .forms {
		text-align: center;
	}

	& input[type=button] {
		cursor: pointer;
		@include cmn.button_color();
	}

	#login_form {
		text-align: center;
	}
}