@use "common" as cmn;

#head {
	text-align: left;
	color: cmn.$cWhite;
	background-color: cmn.$cGreen;
	width: 100%;
	height: 70px;
	position: fixed;
	padding-left: 10px;
}

#container {
	text-align: left;

	& .register {
		cursor: pointer;
		@include cmn.button_color();
	}

	& .back {
		cursor: pointer;
		@include cmn.button_color();
	}
}