@use "common" as cmn;

#head {
	@include cmn.header_form();
}

#container {
	text-align: left;

	& .display {
		color: cmn.$cDisplayColor;
		font-size: 14px;
		font-weight: bold;

		&__require {
			@include cmn.require_optional(cmn.$cRequireRed);
		}
	}

	select {
		@include cmn.select_format();
	}

	input {
		@include cmn.input_format();
	}

	& .register {
		cursor: pointer;
		@include cmn.button_color();
	}

	& .back {
		cursor: pointer;
		@include cmn.button_color();
	}
}

#register {
	cursor: pointer;
	@include cmn.button_color();
}