@use "common" as cmn;

#head {
	@include cmn.header_form();
}

.sharetable {
	&.before {
		display: none;
	}

	&.latest {
		#tablebody {
			th {
				background-color: cmn.$cTableHeader;
				color: cmn.$cWhite;
				padding-left: 3px;
				padding-right: 3px;
			}

			td {
				padding-left: 3px;
				padding-right: 3px;
			}

			button {
				@include cmn.update_button();
			}
		}
	}
}

#btn1 {
	@include cmn.button_color();
}

#btn2 {
	@include cmn.button_color();
}

#register {
	@include cmn.button_color();
}