@use "common" as cmn;

#head {
	text-align: left;
	color: cmn.$cWhite;
	background-color: cmn.$cGreen;
	width: 100%;
	height: 70px;
	position: fixed;
}

#tablebody {
	th {
		background-color: #1506ecd7;
		color: cmn.$cWhite;
	}

	button {
		margin-right: -4px;
	}
}

#btnEn1 {
	cursor: pointer;
	@include cmn.button_color();
}

#btnEn2 {
	cursor: pointer;
	@include cmn.button_color();
}

#register {
	cursor: pointer;
	@include cmn.button_color();
}