@use "common" as cmn;

#head {
	@include cmn.header_form();
}

#container {
	text-align: left;

	.display {
		color: cmn.$cDisplayColor;
		font-size: 14px;
		font-weight: bold;

		&__require {
			@include cmn.require_optional(cmn.$cRequireRed);
		}
	}

	select {
		@include cmn.select_format();
	}

	input {
		@include cmn.input_format();
	}

	.sharetable {
		&.before {
			display: none;
		}

		&.latest {
			#tablebody {
				th {
					background-color: cmn.$cTableHeader;
					color: cmn.$cWhite;
					padding-left: 3px;
					padding-right: 3px;
				}

				td {
					@for $i from 1 through 2 {
						&:nth-child(#{$i}) {
							text-align: center;
							font-weight: bold;
						}
					}
				}

				& button {
					@include cmn.update_button();
				}

			}
		}
	}

	.back {
		@include cmn.button_color();
	}

	.select {
		@include cmn.button_color();
	}

	#register {
		@include cmn.button_color();
	}
}