@use "common" as cmn;

#head {
	text-align: left;
	color: cmn.$cWhite;
	background-color: cmn.$cGreen;
	width: 100%;
	height: 70px;
	position: fixed;
	padding-left: 10px;
}

#tablebody {
	th {
		background-color: #1506ecd7;
		color: cmn.$cWhite;
	}

	td {
		@for $i from 1 through 2 {
			&:nth-child(#{$i}) {
				text-align: center;
				font-weight: bold;
			}
		}
	}

	& button {
		cursor: pointer;
	}

}

.back {
	cursor: pointer;
	@include cmn.button_color();
}

.select {
	cursor: pointer;
	@include cmn.button_color();
}